body {
  margin: 0;
  font-family: -apple-system;
  background: #f0f0f0;
  display: grid;
  place-content: center;
  height: 100dvh;
  font-size: 15px;
}
.contenedor {
  width: 400px;
  max-width: 100%;
  height: 70vh;

  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;


  overflow-y: auto;
  scroll-behavior: smooth;
}


.message{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-top: 6px;
}

span{
  width: 36px;
  height: 36px;
  background: #eee;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999999px;
}

.user-owner{
  align-self: flex-end;
  align-items: center;
  background: rgb(219, 236, 255);
}
 
.bot-owner{
  align-self: flex-start;
  align-items: center;
  background: rgb(0, 150, 57);
}

p{
  border-radius: 8px;
  padding: 10px 10px;
  margin-top: 4px;
}


.user-text {
  align-self: flex-end;
  align-items: flex-end;
  padding: 10px 10px;
  background: rgb(219, 236, 255);
  margin-bottom: 4px;
}

.bot-text{
  align-self: flex-start;
  align-items: flex-start;
  padding: 10px 10px;
  background: rgb(0, 150, 57);
  margin-bottom: 4px;
}

.form{
  display: flex;
}

input{
  border-radius: 999999px;
  flex-grow: 1;
  border: 0;
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ccc;
}

.send{
  background: #09f;
  border: 0;
  color: white;
  border-radius: 7px;
  cursor: pointer;
  padding: 8px;
  transition: background .3s ease;
}

.send:hover{
  background:rgb(0, 104, 173) ;
}
.send:disabled{
  background: #ccc;
  opacity: .6;
  pointer-events: none;  
}

.titulo{
  background: rgb(0, 150, 57);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
}

